
 {{#if locationsLength}}
    {{#each locationsMap}} 
    <tr>
        <td><img src='data:{{locationImage.contentType}};base64,{{imageToBase64 locationImage.data}}' style="width:200px;"></td>
        <td><a href="/location/{{_id}}">{{name}}</a></td>
        <td>{{description}}</td>
        {{#each comments}}
            <td>{{text}}</td>
        {{/each}}
        <td>{{likes}}</td>
        {{#if isValidated}} 
            <td style="color: blue;">Approved</td> 
        {{else}}
            <td>
                <a href="/approve/{{_id}}"><button class="btn btn-success">Approve</button></a>
                <a href="/reject/{{_id}}"><button class="btn btn-success">Reject</button></a>
            </td>
        {{/if}}
    </tr>
    {{/each}}
{{else}}
    <tr>
        <td colspan="5">No valid locations !!</td>
    </tr>
{{/if}}