<div class="container" style="margin-top: 30px">

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/"> 📍</a>
        </li>
        <li class="nav-item">
            {{#if user_active}}
            <a class="nav-link" href="/logout">Logout</a>
            {{else}}
            <a class="nav-link" href="/login">Login</a>
            {{/if}}
        </li>
    </ul>

</div>

<div class="container" style="margin-top: 30px">

    {{#if message}}
    <div class="alert {{messageClass}}" role="alert">
        {{message}}
    </div>
    {{/if}}

    <h1 class="ml-5">🎒 User profile</h1>
    <br>

    <div class="row justify-content-center mb-4">
        <div class="form-row ">
            <div class="col-xl">
                <label class="h3" for="firstName">Name: {{firstName}} </label>
            </div>
            {{#if user_active}}
            <div class="col-md-1">
                <button onclick="myFunctionFn()">Edit</button>
            </div>
            {{/if}}
        </div>
        <div id="fn" style="display: none;">
            <form method="POST" action="/userprofile/edit/firstname" class="form-inline justify-content-center">
                <div class="form-group mx-sm-5 mb-2">
                    <input name="firstName" type="text" class="form-control" id="firstName"
                        placeholder="Update your name...">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Submit change</button>
            </form>
        </div>
    </div>

    <div class=" row justify-content-center mb-4">
        <div class="form-row ">
            <div class="col-xl ">
                <label class="h3" for="lastName">Surname: {{lastName}} </label>
            </div>
            {{#if user_active}}
            <div class="col-md-1">
                <button onclick="myFunctionLn()">Edit</button>
            </div>
            {{/if}}
        </div>
        <div id="ln" style="display: none">
            <form method="POST" action="/userprofile/edit/lastname" class="form-inline justify-content-center">
                <div class="form-group mx-sm-5 mb-2">
                    <input name="lastName" type="text" class="form-control" id="lastName" placeholder="Update Surname">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Submit change</button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="form-row ">
            <div class="col-xl">
                <label class="h3" for="email">Email: {{email}} </label>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="form-row">
            <div class="col-xl">
                <label class="h4" for="password">Password </label>
            </div>
            {{#if user_active}}
            <div class="col-md-1">
                <button onclick="myFunctionPwd()">Edit</button>
            </div>
            {{/if}}
        </div>
        <br>
        <div id="pwd" style="display: none;">
            <form method="POST" action="/userprofile/edit/password" class="form-inline justify-content-center">
                <div class="form-group mx-sm-5 mb-2">
                    <input name="password" type="password" class="form-control" id="inputPassword1"
                        placeholder="New password">
                </div>
                <div class="form-group mx-sm-5 mb-2">
                    <label for="inputPassword2" class="sr-only">Confirm password</label>
                    <input name="confirmPassword" type="password" class="form-control" id="inputPassword2"
                        placeholder="Confirm password">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Submit change</button>
            </form>
        </div>
    </div>

</div>
<script>
    function myFunctionPwd() {
        var x = document.getElementById("pwd");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function myFunctionLn() {
        var x = document.getElementById("ln");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function myFunctionFn() {
        var x = document.getElementById("fn");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>